{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Edit Event" %}{% endblock %}
{% block header_page_specific %} 
	<!-- calendar -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqptTimeSelect/src/jquery.ptTimeSelect.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jqptTimeSelect/src/jquery.ptTimeSelect.css" />
	<script type="text/javascript">
	  $(document).ready(function(){
	   $('#id_event_signup_deadline_0').datepicker({ dateFormat: 'yy-mm-dd' });
	   $('#id_event_date_0').datepicker({ dateFormat: 'yy-mm-dd' });
	   $('#id_event_signup_deadline_1').ptTimeSelect();
	   $('#id_event_date_1').ptTimeSelect();
	   });
	</script>
	<!-- /calendar -->
{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a>
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url event_events_list current_org.org_short_name %}">{% trans "Events" %}</a>
&gt; <a href="{{ event.get_absolute_url }}">{{ event.event_name }}</a>
&gt; {% trans "Edit Event" %}
{% endblock %}
{% block content %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Edit Event" %}</font></div>
	<div class="section_body">
		<FORM action="." method=POST>
		<TABLE>
		 {{ form.as_table }}
		</TABLE>
		<INPUT type="submit" name="add_event" value="{% trans "Save" %}">
		</FORM>
	</div>
</div>
{% endblock %}