{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Remove Event Attendee" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a> 
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url 'event_events_list' current_org.org_short_name %}">{% trans "Events" %}</a>  
&gt; <a href="{{ event.get_absolute_url }}">{{ event.event_name }}</a>
&gt; {% trans "Remove Event Attendee" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_edit_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "Remove Event Attendee" %}</font></div>
	<div class="section_body">
		{% trans "Event" %}: {{ event.event_name}}<BR>
		{% trans "Attendee" %}: {{ current_attendee.att_name }}<BR>
		<BR><BR>
		<form action="." method="post">{% csrf_token %}
		{% trans "Are you sure you want to delete?" %}
		<input type="submit" name="remove_event_attendee" value="{% trans "Delete" %}">
		</form>
	</div>
</div>
{% endblock %}
