{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Edit Event" %}{% endblock %}
{% block extra_head %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/timepicker/css/ui-lightness/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a>
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url 'event_events_list' current_org.org_short_name %}">{% trans "Events" %}</a>
&gt; <a href="{{ event.get_absolute_url }}">{{ event.event_name }}</a>
&gt; {% trans "Edit Event" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_edit_menu.html" %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Edit Event" %}</font></div>
	<div class="section_body">
		<form id="edit_event" action="." method="post">{% csrf_token %}
		<input type="hidden" id="dialog" name="dialog" value="False">
		<table>
		 {{ form.as_table }}
		</table>
		<input id="event_edit_submit" type="submit" name="edit_event" value="{% trans "Save" %}">
		</form>
	</div>
</div>

{% endblock %}


{% block extra_foot %}{{ block.super }}
	<!-- calendar -->  
	<script type="text/javascript" src="{{ STATIC_URL }}js/timepicker/js/timepicker.js"></script>
	<script type="text/javascript">
	  jQuery(document).ready(function(){
	   
	   jQuery("input#event_edit_submit").click( function() { jQuery("form#edit_event").submit( function(){ jQuery("input#dialog").attr("value","True"); return true; }); }); 

		 jQuery('#id_event_date').datepicker({  
		     duration: '',  
		     showTime: true,  
		     constrainInput: false,  
		     stepMinutes: 5,  
		     stepHours: 1,  
		     altTimeField: '',  
		     time24h: true  
		 });  

		 jQuery('#id_event_signup_deadline').datepicker({  
		     duration: '',  
		     showTime: true,  
		     constrainInput: false,  
		     stepMinutes: 5,  
		     stepHours: 1,  
		     altTimeField: '',  
		     time24h: true  
		 });  

		 function DialogShowHide(val, i)
		 {
		   var drop_box_part = "id_att_type_drop_col" + i;
		   var drop_box = "input[name=att_type_drop_col" + i +"]";
		   jQuery(drop_box).attr("disabled",(val=="2")?"":"disabled");
		   (val=="2")?jQuery(drop_box).show():jQuery(drop_box).hide();		   
		   (val=="2")?jQuery('label[for=' + drop_box_part + ']').show():jQuery("label[for=' + drop_box_part + ']").hide(); 
		 }

		for (i=1;i<=6;i++)
		{ DialogShowHide(jQuery("select[name=att_type_col" + i +"]").attr("value"), i);	
		  controlButton(jQuery("input[name=att_header_col" + i +"]"), i );
		}
		jQuery("select[name=att_type_col1]").change(function() { DialogShowHide(jQuery(this).val(), 1); });
		jQuery("select[name=att_type_col2]").change(function() { DialogShowHide(jQuery(this).val(), 2); });
		jQuery("select[name=att_type_col3]").change(function() { DialogShowHide(jQuery(this).val(), 3); });
		jQuery("select[name=att_type_col4]").change(function() { DialogShowHide(jQuery(this).val(), 4); });
		jQuery("select[name=att_type_col5]").change(function() { DialogShowHide(jQuery(this).val(), 5); });
		jQuery("select[name=att_type_col6]").change(function() { DialogShowHide(jQuery(this).val(), 6); });

		jQuery("input[name=att_header_col1]").keyup(function() {controlButton(this,1); });
		jQuery("input[name=att_header_col2]").keyup(function() {controlButton(this,2); });
		jQuery("input[name=att_header_col3]").keyup(function() {controlButton(this,3); });
		jQuery("input[name=att_header_col4]").keyup(function() {controlButton(this,4); });   
		jQuery("input[name=att_header_col5]").keyup(function() {controlButton(this,5); });
		jQuery("input[name=att_header_col6]").keyup(function() {controlButton(this,6); });
        
        function controlButton(textbox, i) 
        {
			var textEntered = true;
			if (textEntered && $(textbox).val().length == -1) 
			{ textEntered = false; }

			if (textEntered) {
				jQuery("input[name=att_require_col" + i + "]").attr("disabled", "");
				jQuery("input[name=att_type_drop_col" + i + "]").attr("disabled", "");
				jQuery("select[name=att_type_col" + i + "]").attr("disabled", "");
			} else {
				jQuery("input[name=att_require_col" + i + "]").attr("disabled", "disabled");
				jQuery("input[name=att_type_drop_col" + i + "]").attr("disabled", "disabled");
				jQuery("select[name=att_type_col" + i + "]").attr("disabled", "disabled");
			}
        }


{% if show_dialog %} 
    new Boxy('\
    <div class="popup_message">\n\
      <ul>{% for link in message.links %}<li><a href="{{ link.link }}">{{ link.name }}</a></li>{% endfor %}</ul>\n\
    </div>', 
    {modal: true,  title:"{{ message.text }}", closeable: false });
{% endif %}

	   });

	</script>
	<!-- /calendar -->
{% endblock %}