{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Add Event Attendee" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a> 
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url 'event_events_list' current_org.org_short_name %}">{% trans "Events" %}</a>
&gt; <a href="{{ current_event.get_absolute_url }}">{{ current_event.event_name }}</a>
&gt; {% trans "Add Event Attendee" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_edit_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "Add Event Attendee" %}</font></div>
	<div class="section_body">
		{% trans "Add user" %} "{{ current_user.username }}" {% trans "to event" %} "{{ current_event.event_name }}"?
		<BR><BR>
		{% if current_event.is_additional_signup_info %}{% trans "Fill out the following if applicable" %}:{% endif %}
		<form action="." method="post">{% csrf_token %}
		<table>
		{{ form }}
		<!--
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		{% if current_event.event_track_hours %}<tr><th><label for="id_att_hours">{% trans "Attendee Hours" %}</label></th><td>{{ form.att_hours }}</td></tr>{% endif %}
		{% if current_event.att_header_col1 %} <tr><th><label for="id_att_col1">{{ current_event.att_header_col1 }}</label></th><td>{{ form.att_col1 }}</td></tr>{% endif %}
		{% if current_event.att_header_col2 %} <tr><th><label for="id_att_col2">{{ current_event.att_header_col2 }}</label></th><td>{{ form.att_col2 }}</td></tr>{% endif %}
		{% if current_event.att_header_col3 %} <tr><th><label for="id_att_col3">{{ current_event.att_header_col3 }}</label></th><td>{{ form.att_col3 }}</td></tr>{% endif %}
		{% if current_event.att_header_col4 %} <tr><th><label for="id_att_col4">{{ current_event.att_header_col4 }}</label></th><td>{{ form.att_col4 }}</td></tr>{% endif %}
		{% if current_event.att_header_col5 %} <tr><th><label for="id_att_col5">{{ current_event.att_header_col5 }}</label></th><td>{{ form.att_col5 }}</td></tr>{% endif %}
		{% if current_event.att_header_col6 %} <tr><th><label for="id_att_col6">{{ current_event.att_header_col6 }}</label></th><td>{{ form.att_col6 }}</td></tr>{% endif %}
		-->
		</table>
	    <button name="add_event_attendee" class="btn btn-default" type="submit">{% trans 'Add' %}</button>
		</form>
	</div>
</div>
{% endblock %}