{% extends "base_layout_01.html" %}
{% load i18n %}	   {% load adminmedia %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Add Event" %}{% endblock %}
{% block header_page_specific %} 
	<!-- calendar -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqptTimeSelect/src/jquery.ptTimeSelect.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jqptTimeSelect/src/jquery.ptTimeSelect.css" />
	<script type="text/javascript">
	  $(document).ready(function(){
	   $('#id_event_signup_deadline_0').datepicker({ dateFormat: 'yy-mm-dd' });
	   $('#id_event_date_0').datepicker({ dateFormat: 'yy-mm-dd' });
	   $('#id_event_signup_deadline_1').ptTimeSelect();
	   $('#id_event_date_1').ptTimeSelect();
	   });
	</script>
	<!-- /calendar -->
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{% url org_org_view current_org.org_short_name %}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url event_events_list current_org.org_short_name %}">{% trans "Events" %}</a>
&gt; {% trans "Add Event" %}
{% endblock %}
{% block content %}
{% include "event/inc_event_menu.html" %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Event Add" %}</font></div>
	<div class="section_body">
		<FORM action="." method=POST>
		<TABLE>
		 {{ form.as_table }}
		</TABLE>
		<INPUT type="submit" name="add_event" value="{% trans "Add" %}">
		</FORM>
	</div>
</div>
{% endblock %}