{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Delete Event Type" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; {% trans "Delete Event Type" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class=section_title><font>{% trans "Delete Event Type" %}</font></div>
	<div class="section_body">
		{% trans "Event Type" %}: {{ event_type.type_name}}<BR>
		{% trans "Belonging to" %}: {{ current_org.org_name }}
		<BR><BR>
		<FORM action="." method=POST>
		{% trans "Are you sure you want to delete?" %}
		<INPUT type=submit name=remove_eventtype value="{% trans "Delete" %}">
		</FORM>
	</div>
</div>
{% endblock %}
