{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Add Event Attendee" %}{% endblock %}
{% block content %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{% url org_org_view current_org.org_short_name %}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url event_events_list current_org.org_short_name %}">{% trans "Events" %}</a>
&gt; <a href="{% url event_event_view current_org.org_short_name current_event.event_hash %}">{{ current_event.event_name }}</a>
&gt; {% trans "Add Event Attendee" %}
<div class="section">
	<div class="section_title">{% trans "Add Event Attendee" %}</div>
	<div class="section_body">
		{% trans "Add user" %} "{{ current_user.username }}" {% trans "to event" %} "{{ current_event.event_name }}"?
		<BR><BR>
		{% if current_event.is_additional_signup_info %}{% trans "Fill out the following if applicable" %}:{% endif %}
		<FORM action="." method=POST>
		<TABLE>
		{% if current_event.event_track_hours %}<TR><TH><label for="id_att_hours">{% trans "Attendee Hours" %}</label></TH><TD>{{ form.att_hours }}</TD></TR>{% endif %}
		{% if current_event.att_header_col1 %} <TR><TH><label for="id_att_col1">{{ current_event.att_header_col1 }}</label></TH><TD>{{ form.att_col1 }}</TD></TR>{% endif %}
		{% if current_event.att_header_col2 %} <TR><TH><label for="id_att_col2">{{ current_event.att_header_col2 }}</label></TH><TD>{{ form.att_col2 }}</TD></TR>{% endif %}
		{% if current_event.att_header_col3 %} <TR><TH><label for="id_att_col3">{{ current_event.att_header_col3 }}</label></TH><TD>{{ form.att_col3 }}</TD></TR>{% endif %}
		{% if current_event.att_header_col4 %} <TR><TH><label for="id_att_col4">{{ current_event.att_header_col4 }}</label></TH><TD>{{ form.att_col4 }}</TD></TR>{% endif %}
		{% if current_event.att_header_col5 %} <TR><TH><label for="id_att_col5">{{ current_event.att_header_col5 }}</label></TH><TD>{{ form.att_col5 }}</TD></TR>{% endif %}
		{% if current_event.att_header_col6 %} <TR><TH><label for="id_att_col6">{{ current_event.att_header_col6 }}</label></TH><TD>{{ form.att_col6 }}</TD></TR>{% endif %}
		</TABLE>
		<INPUT type="submit" name="add_event_attendee" value="{% trans "Add" %}">
		</FORM>
	</div>
</div>
{% endblock %}