{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Add Event Type" %}{% endblock %}
{% block extra_head %}{{ block.super }}<script type="text/javascript" src="{{ STATIC_URL }}js/jscolor/jscolor.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqboxy/javascripts/jquery.boxy.js"></script>    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/jqboxy/stylesheets/boxy.css" />
	<script type="text/javascript">
	  $(document).ready(function(){

	   $("input#eventtype_add_submit").click( function() { $("form#add_eventtype").submit( function(){ $("input#dialog").attr("value","True"); return true; }); }); 
{% if show_dialog %} 
	    new Boxy('\
	    <div class="popup_message">\n\
	      <ul>{% for link in message.links %}<li><a href="{{ link.link }}">{{ link.name }}</a></li>{% endfor %}</ul>\n\
	    </div>', 
	    {modal: true,  title:"{{ message.text }}", closeable: false });
{% endif %}	   
	   });
	</script>
{% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a>
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; Add Event Type
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "Add Event Type" %}</font></div>
	<div class="section_body">
		{% trans "Add Event Type for" %}: {{ current_org.org_name }}
		<form id="add_eventtype" action="." method="post">{% csrf_token %}
		<input type="hidden" id="dialog" name="dialog" value="False">
		<table>
		 {{ form.as_table }}
		</table>
		<input id="eventtype_add_submit" type="submit" name="add_eventtype" value="{% trans "Add" %}">
		</form>
	</div>
</div>
{% endblock %}
