{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "View Event" %} {% endblock %}
{% block header_page_specific %} 
<style>
  .event_status_closed { color: red; }
  .event_status_open { color: green; }
</style>
<script type="text/javascript">
 $(document).ready(function()
 {
  {% if not current_event.is_within_signup_deadline %} $("#attendee_add").attr('disabled', 'disabled'); {% endif %}
 });
 
</script>
{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">home</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{% url org_org_view current_org.org_short_name %}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url event_events_list current_org.org_short_name %}">{% trans "Events" %}</a> 
&gt; {{ current_event.event_name }}
{% endblock %}
{% block content %}
{% include "event/inc_event_edit_menu.html" %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Event Information" %}</font></div>
	<div class="section_body">
		<TABLE>
		 <TR><TD>{% trans "Event Name" %}:</TD><TD>{{ current_event.event_name }}</TD></TR>
		 <TR><TD>{% trans "Event Type" %}:</TD><TD  style="background-color: #{{ current_event.event_type.type_color }};"><a  style="color: #{{ current_event.event_type.contrast }};" href="{% url event_events_list current_org.org_short_name %}?event_type={{ current_event.event_type }}">{{ current_event.event_type }}</a></TD></TR>
		 <TR><TD>{% trans "Event Status" %}:</TD><TD>{% ifequal current_event.event_open 1 %}<div class=event_status_open>Open</div>{% else %}<div class=event_status_closed>Closed</div>{% endifequal %}</TD></TR>
		 <TR><TD>{% trans "Event Signup Deadline" %}:</TD><TD>{{ current_event.event_signup_deadline|date:"D m/d/Y h:i a" }}</TD></TR>
		 <TR><TD>{% trans "Event Date" %}:</TD><TD>{{ current_event.event_date|date:"D m/d/Y h:i a" }}</TD></TR>
		 <TR><TD>{% trans "Description" %}:</TD><TD>{{ current_event.event_desc }}</TD></TR>
		 <TR><TD>{% trans "Event Creator Name" %}:</TD><TD><a href="{% url euser_user_view current_event.event_creator_name %}">{{ current_event.event_creator_name }}</a></TD></TR>
		 <TR><TD>{% trans "Event Coordiantors" %}:</TD><TD>{% for coordinator in current_event.get_event_coordinators %}<div><a href="{% url euser_user_view coordinator %}">{{ coordinator }}</a></div>{% endfor %}</TD></TR>
		 <TR><TD>{% trans "Event Created Date" %}:</TD><TD>{{ current_event.event_created_date|date:"D m/d/Y h:i a" }}</TD></TR>
		 <TR><TD>{% trans "Event Max Attendees" %}:</TD><TD>{{ current_event.max_attendees }}</TD></TR>
		 <TR><TD>{% trans "Hour Tracking" %}:</TD><TD>{% ifequal current_event.event_track_hours 1 %}Tracking Hours{% else %}Hour Tracking Disabled{% endifequal %}</TD></TR>
		</TABLE>
	</div>
</div>

<div class="section"> 
	<div class="section_title"><font>{% trans "Event Attendee Information" %}</font></div>
	<div class="section_body">
		<div>
		<ul class="nav">
		 <li>{% if current_event.is_within_signup_deadline %}<strong><a href="{% url event_attendee_add current_org.org_short_name current_event.event_hash %}">{% trans "Add" %}</a></strong>{% else %}<strong style="color:grey;">{% trans "Add" %}</strong>{% endif %}</li>
		 <li><strong><a href="{% url event_attendees_message current_org.org_short_name current_event.event_hash %}">{% trans "Message" %}</a></strong></li>
		</ul>
		</div>
	
		<TABLE border="1">
		<TR><TH>{% trans "Attendee Name" %}</TH><TH>{% trans "Attendee Added Date" %}</TH>
			{% if current_event.event_track_hours %}<TH>Hours</TH>{% endif %}
		    {% if current_event.att_header_col1 %}<TH>{{ current_event.att_header_col1 }}</TH>{% endif %}
		    {% if current_event.att_header_col2 %}<TH>{{ current_event.att_header_col2 }}</TH>{% endif %}
		    {% if current_event.att_header_col3 %}<TH>{{ current_event.att_header_col3 }}</TH>{% endif %}
		    {% if current_event.att_header_col4 %}<TH>{{ current_event.att_header_col4 }}</TH>{% endif %}
		    {% if current_event.att_header_col5 %}<TH>{{ current_event.att_header_col5 }}</TH>{% endif %}
		    {% if current_event.att_header_col6 %}<TH>{{ current_event.att_header_col6 }}</TH>{% endif %}
		    <TH>&nbsp;</TH>
		</TR>
		{% for attendee in attendees %}
		<TR><TD><a href="{% url euser_user_view attendee.att_name %}">{{ attendee.att_name }}</a></TD><TD>{{ attendee.att_added_date|date:"D m/d/Y h:i a" }}</TD>
			{% if current_event.event_track_hours %}<TD>{{ attendee.att_hours }}</TD>{% endif %}
		    {% if current_event.att_header_col1 %}<TD>{{ attendee.att_col1 }}</TD>{% endif %}
		    {% if current_event.att_header_col2 %}<TD>{{ attendee.att_col2 }}</TD>{% endif %}
		    {% if current_event.att_header_col3 %}<TD>{{ attendee.att_col3 }}</TD>{% endif %}
		    {% if current_event.att_header_col4 %}<TD>{{ attendee.att_col4 }}</TD>{% endif %}
		    {% if current_event.att_header_col5 %}<TD>{{ attendee.att_col5 }}</TD>{% endif %}
		    {% if current_event.att_header_col6 %}<TD>{{ attendee.att_col6 }}</TD>{% endif %}
		    <TD><a href="{% url event_attendee_remove current_org.org_short_name current_event.event_hash attendee.att_name %}"><img alt="remove" style="border: solid 0px;" src="{{ MEDIA_URL }}images/remove_user.png"></a></TD>
		</TR>
		{% endfor %}
		</TABLE>
	</div>
</div>
{% endblock %}