{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Delete Event" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; <a href="{% url event_events_list current_org.org_short_name %}">{% trans "Events" %}</a>  
&gt; <a href="{{ current_event.get_absolute_url }}">{{ current_event.event_name }}</a>
&gt; {% trans "Delete Event" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_edit_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "Delete Event" %}</font></div>
	<div class="section_body">
		{% trans "Event" %}: {{ current_event.event_name}}<BR>
		{% trans "Event Date" %}: {{ current_event.event_date }}<BR>
		{% trans "Belonging to" %}: {{ current_org.org_name }}
		<BR><BR>
		<form action="." method="post">{% csrf_token %}
		{% trans "Are you sure you want to delete?" %}
		<input type="submit" name=remove_event value="{% trans "Delete" %}">
		</form>
	</div>
</div>
{% endblock %}
