{% extends "base_layout_01.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load ellipsis %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "List Events" %}{% endblock %}
{% block header_page_specific %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/event_list_entry.css" />{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">home</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{% url org_org_view current_org.org_short_name %}">{{ current_org.org_name }}</a> 
&gt; {% trans "Events" %}
{% endblock %}
{% block content %}
{% include "event/inc_event_menu.html" %}

<div class="section_title"><font>{{ heading }}</font></div>
{% if events %}   
   {% autopaginate events 20 %}
   {% paginate %}
   {% with events as events %}
      {% include "event/inc_events_list_entry.html" %} 
   {% endwith %}
   {% paginate %}
{% else %}
   {% trans "No events listed." %}
{% endif %}
   
{% endblock %}