{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Delete Group" %} {% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a> 
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organization" %}s</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a>
&gt; <a href="{{ current_usergroup.get_absolute_url }}">{{ current_usergroup.group_name }}</a> 
&gt; {% trans "Delete Group" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "Delete Group" %}</font></div>
	<div class="section_body">
		{% trans "Group Name" %}: {{ current_usergroup.group_name}}<BR>
		{% trans "Belonging to" %}: {{ current_org.org_name }}
		<BR><BR>
		<form action="." method="post">{% csrf_token %}
		{% trans "Are you sure you want to delete?" %}
		<input type="submit" name="remove_usergroup" value="{% trans "Delete" %}">
		</form>
	</div>
</div>
{% endblock %}
