{% load i18n permission_tags %}
<!-- Start Menu -->
{% with org_perms=request.user|org_permissions:current_org %}
<div class="menu">
<ul class="nav">
 <li><strong><a href="{{ current_org.get_absolute_url }}">{% trans "Organization" %}</a></strong>
  <ul>
    <li><a href="{{ current_org.get_absolute_url }}">{% trans "View" %}</a></li>
    {% if org_perms.can_edit_org %}<li><a href="{% url 'org_org_edit' current_org.org_short_name %}">{% trans "Edit" %}</a></li>{% endif %}
    {% if org_perms.is_memberof_org %}<li><a href="{% url 'org_org_members' current_org.org_short_name %}">{% trans "Members" %}</a></li>{% endif %}
    {% if not org_perms.is_memberof_org %}<li><a href="{% url 'org_org_join' current_org.org_short_name %}">{% trans "Join" %}</a></li>{% endif %}
  </ul>
 </li>
 <li><strong><a href="{% url 'event_events_list' current_org.org_short_name %}">{% trans "Events" %}</a></strong>
   <ul>
    <li><a href="{% url 'event_events_list' current_org.org_short_name %}">{% trans "View" %}</a></li>
    {% if org_perms.can_add_event %}<li><a href="{% url 'event_event_add' current_org.org_short_name %}">{% trans "Add" %}</a></li>{% endif %}
   </ul>
 </li>
 <li><strong><a href="{% url 'ecalendar_calendar_monthly_view' current_org.org_short_name %}{% if current_event %}?year={{ current_event.event_date.year }}&month={{ current_event.event_date.month }}{% endif %}">{% trans "Calendar" %}</a></strong>
   <ul>
    <li><a href="{% url 'ecalendar_calendar_monthly_view' current_org.org_short_name %}{% if current_event %}?year={{ current_event.event_date.year }}&month={{ current_event.event_date.month }}{% endif %}">{% trans "Monthly" %}</a></li>
    <li><a href="{% url 'ecalendar_calendar_daily_view' current_org.org_short_name %}{% if current_event %}?year={{ current_event.event_date.year }}&month={{ current_event.event_date.month }}&day={{ current_event.event_date.day }}{% endif %}">{% trans "Daily" %}</a></li>
   </ul>
 </li>
 <li><strong><a href="{% url 'report_org_reports' current_org.org_short_name %}">{% trans "Reports" %}</a></strong>
   <ul>
    <li><a href="{% url 'report_org_reports_by_user' current_org.org_short_name %}">{% trans "by User" %}</a></li>
    <li><a href="{% url 'report_org_reports_by_eventtype' current_org.org_short_name %}">{% trans "by Event Type" %}</a></li>
    <li><a href="{% url 'report_org_reports_by_event' current_org.org_short_name %}">{% trans "by Event" %}</a></li>
   </ul>
 </li>
</ul>
</div>
<!-- End Menu -->
{% endwith %}