{% load i18n permission_tags %}
<div class="menu">
<ul class=nav>
{% with event_perms=request.user|event_permissions:current_event %}
 {% if event_perms.can_edit_event %}<li><strong><a href="{% url 'event_event_edit' current_org.org_short_name current_event.event_hash %}">{% trans "Edit Event" %}</a></strong></li>{% endif %}
 {% if event_perms.can_remove_event %}<li><strong><a href="{% url 'event_event_remove' current_org.org_short_name current_event.event_hash %}">{% trans "Delete Event" %}</a></strong></li>{% endif %}
 <li><strong><a href="{% url 'ecalendar_calendar_monthly_view' current_org.org_short_name %}{% if event %}?year={{ current_event.event_date.year }}&month={{ current_event.event_date.month }}{% endif %}">{% trans "Calendar" %}</a></strong>
  <ul>
    <li><a href="{% url 'ecalendar_calendar_monthly_view' current_org.org_short_name %}{% if current_event %}?year={{ current_event.event_date.year }}&month={{ current_event.event_date.month }}{% endif %}">{% trans "Monthly" %}</a></li>
    <li><a href="{% url 'ecalendar_calendar_daily_view' current_org.org_short_name %}?year={{ current_event.event_date.year }}&month={{ current_event.event_date.month }}&day={{ current_event.event_date.day }}">{% trans "Daily" %}</a></li>
  </ul>
 </li>
</ul>
{% endwith %}
</div>