{% extends "org/base.html" %}
{% load i18n %}{% load ellipsis %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Daily Calendar of Events" %}{% endblock %}
{% block extra_head %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/event_list_entry.css">{% endblock %}
{% block breadcrumb %}{{ block.super }}
&gt; {% trans "Calendar (Daily)" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}

<div class="section">
<div class="section_title"><font>{% trans "Calendar" %}</font></div>
<table align="center"><tr>
<td><a href="{% url 'ecalendar_calendar_daily_view' current_org.org_short_name %}?year={{ year_prev }}&month={{ month_prev }}&day={{ day_prev }}">{% trans "Previous" %}</a> &bull;
<a href="{% url 'ecalendar_calendar_daily_view' current_org.org_short_name %}">{% trans "Today" %}</a> &bull; 
<a href="{% url 'ecalendar_calendar_daily_view' current_org.org_short_name %}?year={{ year_next }}&month={{ month_next }}&day={{ day_next }}">{% trans "Next" %}</a></td>
</table>

<div align="center">{{  day|date:"F d, Y"}}</div>

{% if events %}   
   {% with events as events %}
      {% include "event/inc_events_list_entry.html" %} 
   {% endwith %}
{% else %}
   {% trans "No events on this day." %}
{% endif %}
</div>
{% endblock %}