{% extends "base_layout_01.html" %}
{% load i18n %}
{% load ellipsis %}
{% load static %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Monthly Calendar of Events" %}{% endblock %}

{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a> 
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt;  <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; {% trans "Calendar" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}

<div class="section"> 
	<div class="section_title"><font>{% trans "Calendar" %}</font></div>
	<TABLE align="center"><TR>
	<TD><a href="{% url 'ecalendar_calendar_monthly_view' current_org.org_short_name %}?year={{ year_prev }}&month={{ month_prev }}">{% trans "Previous" %}</a></TD>
	<TD><a href="{% url 'ecalendar_calendar_monthly_view' current_org.org_short_name %}">{% trans "Current Month" %}</a></TD>
	<TD><a href="{% url 'ecalendar_calendar_monthly_view' current_org.org_short_name %}?year={{ year_next }}&month={{ month_next }}">{% trans "Next" %}</a></TD>
	</TABLE>
	
	<div align="center">{{  month|date:"F Y"}}</div>
	<TABLE align="center">
	   <TR class="org_cal_mon_head"><TH>{% trans "Sunday" %}</TH><TH>{% trans "Monday" %}</TH><TH>{% trans "Tuesday" %}</TH><TH>{% trans "Wednesday" %}</TH><TH>{% trans "Thursday" %}</TH><TH>{% trans "Friday" %}</TH><TH>{% trans "Saturday" %}</TH></TR>
	   {% for week in monthcal %}
	   <TR>
	     {% for day in week %}
	     <TD class=org_cal_mon_cell>
	       {% ifnotequal day.date 0 %}<div class="org_cal_mon_num"><a href="{% url 'ecalendar_calendar_daily_view' current_org.org_short_name %}?year={{ month.year }}&month={{ month.month }}&day={{ day.date }}">{{ day.date }}</a></div><BR>{% for event in day.events %}<div class="event_container" url="{{ event.get_absolute_url }}" style="border:solid 1px #1a88c9;margin:2px;padding:3px;background-color: #{{ event.event_type.type_color }}"><a class="launch" style="text-decoration:none;color: #{{event.event_type.contrast}}" href="{{ event.get_absolute_url }}">{{ event.event_name|ellipsis:25 }}</a></div>{% endfor %}{% endifnotequal %}
	     </TD>{% endfor %}
	   </TR>{% endfor %}
	</TABLE>
</div>
	
{% endblock %}


{% block extra_foot %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/org_cal_mon.css' %}" />
	<script type="text/javascript">
	 $(document).ready(function() { $(".event_container").click(function(){ window.location = $(this).attr("url"); return false; }); 
	 $(".event_container").hover(function () { $(this).css("border","solid 1px #8F0000"); }, function () { $(this).css("border","solid 1px #1a88c9"); });
	 }); 
    </script>
{% endblock %}