{% load compress %}<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <title> EVEnt SCHeduler {% block title %} - Home{% endblock %}</title>
    <meta name="author" content="Joe J. Jasinski"> 
    <meta name="keywords" content="event, events, scheduler, evesch, planning, planner, organization">
    <meta name="description" content="Plan organization events quickly and easily."> 
    <link rel="icon" type="image/png"  href="{{ STATIC_URL }}images/favicon.png">    
    <!--[if lte IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     {% compress css %}
     <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/bootstrap/css/bootstrap.css"> 
     <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/master.css">
     <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/jqui/css/smoothness/jquery-ui-1.7.1.custom.css">
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/jqboxy/stylesheets/boxy.css" /> 
     {% endcompress %}
     
     {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block base_layout %}{% endblock %}
  </body>
  {% compress js %}
  <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
  <script src="{{ STATIC_URL }}js/jqui/js/jquery-ui-1.7.1.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jqboxy/javascripts/jquery.boxy.js"></script>    
  {% endcompress %}
  {% block extra_foot %}{% endblock %}
</html>