{% extends "base.html" %}
{% load i18n %}
{% block base_layout %}
<div class="background">
	<!-- Start Base Layout -->
	<div class="body_wrap">
		<header class="header_banner">
		  <span class="login_container">{% if request.user.is_authenticated %}<a href="{% url 'account_auth_logout' %}">Logout</a> &bull; <a href="{% url 'euser_user_settings' %}">Settings</a> &bull; <a href="{{ request.user.get_absolute_url }}">{{ request.user }}</a> {% else %} <a href="{% url 'account_auth_login' %}">Login</a>{% endif %}</span>
                  <span class="logo"><a href="{% url 'home' %}"><span class="logo_text">Evesch</span><img width="200px" src="{{ STATIC_URL }}images/evesch_logo.png" alt="logo"></a></span>
		</header>
		<div class="main_container">
		 <div class="breadcrumb">{% block breadcrumb %}<a href="{% url 'home' %}">home</a>{% endblock %}</div>
		 <div class="main_container_wrap">{% block content %}{% endblock %}</div>
		</div>
		<footer class="footer"><font>{% trans 'All Images and Content Copyright Joseph J. Jasinski ' %}{% now "Y" %}</font></footer>
	</div>
</div>

<!-- End Base Layout -->
{% endblock %} 
