{% extends "base.html" %}
{% block base_layout %}
<div class="background">
	<!-- Start Base Layout -->
	<div class="body_wrap">
		<div class="header_banner"><span class="logo"><a href="{% url home %}"><span class="logo_text">Evesch</span><img width="200px" src="{{ MEDIA_URL }}images/evesch_logo.png" alt="logo"></a></span>
		                           <span class="login_container">{% if request.user.is_authenticated %}<a href="{% url account_auth_logout %}">Logout</a> - <a href="{% url euser_user_settings %}">Settings</a> - <a href="{{ request.user.user.get_absolute_url }}">{{ request.user }}</a> {% else %} <a href="{% url account_auth_login %}">Login</a>{% endif %}</span>
		</div>
		<div class="main_container">
		 <div class="breadcrumb">{% block breadcrumb %}<a href="{% url home %}">home</a>{% endblock %}</div>
		 <div class="main_container_wrap">{% block content %}{% endblock %}</div>
		</div>
		<div class="footer"><font>All Images and Content Copright Joseph J. Jasinski 2009</font></div>
	</div>
</div>

<!-- End Base Layout -->
{% endblock %} 