{% extends "base_layout_01.html" %}
{% load ellipsis %}{% load i18n %}
{% load pagination_tags %}
{% block title %} - {% trans "Home" %}{% endblock %}
{% block extra_head %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/event_list_entry.css">{% endblock %}
{% block content %}

<div class="core_content">
	<div class="section">
	    <div class="page_heading"><font>{% trans "Dashboard " %} - <a href="{{ request.user.get_absolute_url }}">{{ request.user }}</a></font></div>
	</div>

	<div class="section_sidebyside"> 
	    <div class="section_leftcol">

			<div class="section">
				<div class="section_title"><font>{% trans "My Organizations" %} ({{ num_user_orgs }}) - <a style="font-size: 12px;" href="{% url 'org_orgs_list' %}">{% trans "Manage" %}</a></font></div>
				<div class="section_body">
			 	    <div id="my_org_list_container">
					{% if my_orgs_page.current_page.object_list %}   
							{% include "org/inc_myorgs_list_entry.html" %}
					{% else %}
					   {% trans "No orgs listed." %}
					{% endif %}
					</div>
				</div>
			</div>
			
			{% with current_user.get_org_invites as user_org_invites %}
			{% if user_org_invites %}
			<div class="section">
				<div class="section_title"><font>{% trans "My Invites" %} ({{ current_user.get_org_invites_count }})</font></div>
				<div class="section_body">
					<table>
					{% for invite in user_org_invites %}
					 <tr><td><a href="{{ invite.org.get_absolute_url }}">{{ invite.org }}</a></td>
					     <td><a title="{% trans 'Join Organization' %}" href="{% url 'org_org_join' invite.org.org_short_name %}"><img alt="Join" style="border: solid 0px;" src="{{ STATIC_URL }}images/join.png"></a></td></tr>
					{% endfor %}
					</table>
				</div>
			 </div>
			{% endif %}
			{% endwith %}
			
		</div>
		<div class="section_rightcol">
		
			<div class="section">
				<div class="section_title"><font>{% trans "My Events" %} ({{ num_user_events }})</font></div>
				<div class="section_body">
					{% if user_events %}   
					   {% with user_events as events %}
					      {% include "event/inc_events_list_entry.html" %} 
					   {% endwith %}
					{% else %}
					   {% trans "No events listed." %}
					{% endif %}
				</div>
			</div>

		</div>
	    <div style="clear: both;"></div>	
	</div>
	
</div>

{% endblock %}