{% extends "base_layout_01.html" %}
{% load i18n %}{% load ellipsis %}
{% load pagination_tags %}
{% block title %} - {% trans "Home" %}{% endblock %}
{% block header_page_specific %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/event_list_entry.css">{% endblock %}
{% block content %}
&nbsp;
{% include "core/inc_anonymous_menu.html" %}

<div class="section">
	<div class="section_title"><font>{% trans "Welcome" %}</font></div>
	<div class="section_body">
	  <div style="float:left; display: inline; margin-left: 20px; width: 340px;"><BR><BR>
	  <B>Welcome to The Event Scheduler!</B><BR><BR>
	  This site is in extreme Alpha and any data entered into it will not be preserved until we officially launch!  Feel free to test it with login "demo" password "demo".<BR><BR>
	   EveSch.com is a free social network that allows organizations to coordinate events and manage these events through one simple interface.
	   <BR><BR>EveSch.com provides the following features:
	   <ul>
	     <li>Simple tool to create and customize organizations and events</li>
	     <li>Calendar to plan events and export them to iCal format</li>
	     <li>Ability to delegate event planning to other members on the organization</li>
	     <li>Customizable sign-up sheets to track attendance to events</li>
	     <li>Reports to help track past events and the ability to track hours</li>
	     <li>Much more!</li>
	   </ul>
	    </div>
	  <div style="float:right; display: inline; margin-right: 20px; margin-bottom: 20px;"><img alt="page logo" src="{{ MEDIA_URL }}images/calendar.png"></div>
	  <div style="clear:both;"></div>
	</div>
</div>

{% endblock %}