{% extends "base_layout_01.html" %}
{% load ellipsis %}{% load i18n %}
{% load pagination_tags %}
{% block title %} - {% trans "Home" %}{% endblock %}
{% block header_page_specific %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/event_list_entry.css">{% endblock %}
{% block content %}

<div class="section">
    <div class="section_title"><font>{% trans "Dashboard " %} - <a href="{{ request.user.euser.get_absolute_url }}">{{ request.user }}</a></font></div>
</div>

<div class="section">
	<div class="section_title"><font>{% trans "My Organizations" %} ({{ num_user_orgs }}) - <a style="font-size: 12px;" href="{% url org_orgs_list %}">{% trans "Manage" %}</a></font></div>
	<div class="section_body">
 	    <div id="my_org_list_container">
		{% if my_orgs_page.current_page.object_list %}   
				{% include "org/inc_myorgs_list_entry.html" %}
		{% else %}
		   {% trans "No orgs listed." %}
		{% endif %}
		</div>
	</div>
</div>

<div class="section">
	<div class="section_title"><font>{% trans "My Events" %} ({{ num_user_events }})</font></div>
	<div class="section_body">
		{% if user_events %}   
		   {% with user_events as events %}
		      {% include "event/inc_events_list_entry.html" %} 
		   {% endwith %}
		{% else %}
		   {% trans "No events listed." %}
		{% endif %}
	</div>
</div>

{% endblock %}