{% extends "base_layout_01.html" %}
{% load i18n %}{% load ellipsis %}
{% load pagination_tags %}
{% block title %} - {% trans "Home" %}{% endblock %}
{% block header_page_specific %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/event_list_entry.css">{% endblock %}
{% block content %}
&nbsp;
{% include "core/inc_anonymous_menu.html" %}

<div class="section">
	<div class="section_title"><font>{% trans "Welcome" %}</font></div>
	<div class="section_body">
		<img alt="" src="{{ MEDIA_URL }}images/calendar.png">
	</div>
</div>

{% endblock %}