{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "View User Profile" %}{% endblock %}

{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a>  &gt; {% trans "user" %} &gt; {{ current_user.username }}
{% endblock %}
{% block content %}
<div class="section">
    <div class="page_heading">Profile for {{ current_user.username }}</font></div>
</div>
<div class="section">
	<div class="section_title"><span class="section_title_icon">{% if myprofile %}<a title="{% trans "Edit User Settings" %}" href="{% url euser_user_settings %}"><img class="img_edit" alt="add" style="border: solid 0px;" src="{{ MEDIA_URL }}images/edit.png"></a>{% endif %}</span><font>{% trans "Info" %}</font></div>
	<div class="section_body">
		<TABLE>
		 <TR><TD>{% trans "Username" %}:</TD><TD>{{ current_user.username }}</TD></TR>
		 <TR><TD>{% trans "First Name" %}:</TD><TD>{{ current_user.first_name }}</TD></TR>
		 <TR><TD>{% trans "Last Name" %}:</TD><TD>{{ current_user.last_name }}</TD></TR>
		 {% if current_user.gender %}<TR><TD>{% trans "Gender" %}:</TD><TD>{{ current_user.get_gender_display }}</TD></TR>{% endif %}
		 {% if current_user.email %}<TR><TD>{% trans "E-mail" %}:</TD><TD>{{ current_user.email }}</TD></TR>{% endif %}
		 {% if current_user.phone %}<TR><TD>{% trans "Phone" %}:</TD><TD>{{ current_user.phone }}</TD></TR>{% endif %}
		 {% if current_user.about %}<TR><TD>{% trans "About Me" %}:</TD><TD>{{ current_user.about }}</TD></TR>{% endif %}
		 {% if current_user.city %}<TR><TD>{% trans "City" %}:</TD><TD>{{ current_user.city }}</TD></TR>{% endif %}
		 {% if myprofile %}<TR><TD>{% trans "User Feed URL" %}</TD><TD><a href="{% url core_feed_user_rss current_user.username current_user.user_feed_hash %}"><img alt="rss" style="border: solid 0px;" src="{{ MEDIA_URL }}images/rss_icon.png"></a></TD></TR>{% endif %}
		 {% if myprofile %}<TR><TD>{% trans "User iCal URL" %}:</TD><TD><a href="{% url core_feed_user_ics current_user.username current_user.user_feed_hash %}"><img alt="ical" width="25" style="border: solid 0px;" src="{{ MEDIA_URL }}images/ical_icon.png"></a></TD></TR>{% endif %}
		</TABLE>
	</div>
 </div>

{% if myprofile %}
<div class="section">
	<div class="section_title"><font>{% trans "My Invites" %} ({{ current_user.get_org_invites_count }})</font></div>
	<div class="section_body">
		<TABLE>
		{% for invite in current_user.get_org_invites %}
		 <TR><TD><a href="{{ current_org.get_absolute_url }}">{{ invite.org }}</a></TD>
		     <TD><a title="{% trans "Join Organization" %}" href="{% url org_org_join invite.org.org_short_name %}"><img alt="Join" style="border: solid 0px;" src="{{ MEDIA_URL }}images/join.png"></a></TD></TR>
		{% endfor %}
		</TABLE>
	</div>
 </div>
{% endif %}

{% endblock %}