{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "View User Profile" %}{% endblock %}

{% block content %}
<a href="{% url home %}">{% trans "home" %}</a>  &gt; {% trans "user" %} &gt; {{ current_user.username }}
<div class="section">
	<div class="section_title">{% trans "View User Profile" %}</div>
	<div class="section_body">
		<TABLE>
		 <TR><TD>{% trans "Username" %}:</TD><TD>{{ current_user.username }}</TD></TR>
		 <TR><TD>{% trans "First Name" %}:</TD><TD>{{ current_user.first_name }}</TD></TR>
		 <TR><TD>{% trans "Last Name" %}:</TD><TD>{{ current_user.last_name }}</TD></TR>
		 {% if current_user.email %}<TR><TD>{% trans "E-mail" %}:</TD><TD>{{ current_user }}</TD></TR>{% endif %}
		</TABLE>
	</div>
 </div>

{% if myprofile %}
<div class="section">
	<div class="section_title">{% trans "My Invites" %} ({{ current_user.get_org_invites_count }})</div>
	<div class="section_body">
		<TABLE>
		{% for invite in current_user.get_org_invites %}
		 <TR><TD><a href="{% url org_org_view invite.org.org_short_name %}">{{ invite.org }}</a></TD></TR>
		{% endfor %}
		</TABLE>
	</div>
 </div>
{% endif %}

{% endblock %}