{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "View User Profile" %}{% endblock %}

{% block breadcrumb %}
{{ block.super }}
&gt; {% trans "user" %} 
&gt; {{ current_user.username }}
{% endblock %}
{% block content %}
<div class="section">
    <div class="page_heading">Profile for {{ current_user.username }}</font></div>
</div>
<div class="section">
	<div class="section_title"><span class="section_title_icon">{% if myprofile %}<a title="{% trans "Edit User Settings" %}" href="{% url 'euser_user_settings' %}"><img class="img_edit" alt="add" style="border: solid 0px;" src="{{ STATIC_URL }}images/edit.png"></a>{% endif %}</span><font>{% trans "Info" %}</font></div>
	<div class="section_body">
		<table>
		 <tr><td>{% trans "Username" %}:</td><td>{{ current_user.username }}</td></tr>
		 <tr><td>{% trans "First Name" %}:</td><td>{{ current_user.first_name }}</td></tr>
		 <tr><td>{% trans "Last Name" %}:</td><td>{{ current_user.last_name }}</td></tr>
		 {% if current_user.gender %}<tr><td>{% trans "Gender" %}:</td><td>{{ current_user.get_gender_display }}</td></tr>{% endif %}
		 {% if current_user.email %}<tr><td>{% trans "E-mail" %}:</td><td>{{ current_user.email }}</td></tr>{% endif %}
		 {% if current_user.phone %}<tr><td>{% trans "Phone" %}:</td><td>{{ current_user.phone }}</td></tr>{% endif %}
		 {% if current_user.about %}<tr><td>{% trans "About Me" %}:</td><td>{{ current_user.about }}</td></tr>{% endif %}
		 {% if current_user.city %}<tr><td>{% trans "City" %}:</td><td>{{ current_user.city }}</td></tr>{% endif %}
		 {% if myprofile %}<tr><td>{% trans "User Feed URL" %}</td><td><a href="{% url 'core_feed_user_rss' current_user.username current_user.user_feed_hash %}"><img alt="rss" style="border: solid 0px;" src="{{ STATIC_URL }}images/rss_icon.png"></a></td></tr>{% endif %}
		 {% if myprofile %}<tr><td>{% trans "User iCal URL" %}:</td><td><a href="{% url 'core_feed_user_ics' current_user.username current_user.user_feed_hash %}"><img alt="ical" width="25" style="border: solid 0px;" src="{{ STATIC_URL }}images/ical_icon.png"></a></td></tr>{% endif %}
		</table>
	</div>
 </div>



{% endblock %}