{% load ellipsis %}
{% load i18n %}
			<script language="Javascript" type="text/javascript">
			$(document).ready(function()
			{
			    function load_posts(url)
			    {  var cachebuster=Math.floor(Math.random()*10000001); $("#all_org_list_container").load( url, "ajax=" + cachebuster );  }
			    
			    $("#all_orgs_prev").click(function() 
			    { load_posts("{{ ajax_page_all }}?all_orgs_page={{ all_orgs_page.prev }}"); });
			    
			    $("#all_orgs_next").click(function() 
			    { load_posts("{{ ajax_page_all }}?all_orgs_page={{ all_orgs_page.next }}"); });		    
			
			});
			</script>
			<div class="page_nav">
				<div> {% trans "Page" %} {{ all_orgs_page.curr }} {% trans "of" %} {{ all_orgs_page.num_pages }}</div>
				<span>{% if all_orgs_page.prev %}<a id="all_orgs_prev" href="{% url 'org_orgs_list' %}?all_orgs_page={{ all_orgs_page.prev }}&my_orgs_page={{ my_orgs_page.next }}" onClick="return false;">Previous</a>{% else %}{% trans "Previous" %}{% endif %}</span>
				<span>{% if all_orgs_page.next %}<a id="all_orgs_next" href="{% url 'org_orgs_list' %}?all_orgs_page={{ all_orgs_page.next }}&my_orgs_page={{ my_orgs_page.next }}" onClick="return false;">Next</a>{% else %}{% trans "Next" %}{% endif %}</span>
			</div>
			
			<ul class="all_org_list">
			{% for org in all_orgs_page.current_page.object_list %}
			  <li>
			  <table>
				  <tr><td class="org_name_list">{{ org.org_name }}</td>
				  	  <td class="org_privacy_list">{{ org.get_org_join_privacy_display }}</td>
				      <td class="org_desc_list"> {{ org.org_desc|ellipsis:30 }}</td>
				      <td> {% if not org.org_perms.is_memberof_org %}<a title="{% trans "Join Organization" %}" href="{% url 'org_org_join' org.org_short_name %}"><img alt="Join" style="border: solid 0px;" src="{{ STATIC_URL }}images/join.png"></a>{% endif %}&nbsp;</td>
				   </tr>
			   </table>
			   </li>
			{% endfor %}
			</ul>