{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Edit Organization" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> &gt; {% trans "Edit Organization" %}
{% endblock %}
{% block content %}
{% include "event/inc_event_menu.html" %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Edit Organization" %}</font></div>
	<div class="section_body">
		<strong>{% trans "RSS URL" %}</strong>: <a href="{% url core_feed_org_rss current_org.org_short_name current_org.org_feed_hash %}">{% trans "RSS" %}</a>
		<FORM action="." method="POST">
		<TABLE>
		 {{ form.as_table }}
		</TABLE>
		<INPUT type="submit" name="add_user" value="{% trans "Save" %}">
		</FORM>
	</div>
</div>
{% endblock %}