{% extends "base_layout_01.html" %}
{% load ellipsis %}{% load i18n %}
{% block title %} - {% trans "Browse" %}{% endblock %}
{% block extra_head %}{{ block.super }}{% endblock %}
{% block content %}
&nbsp;
<div class="page_heading"> Browse </div>
{% include "core/inc_anonymous_menu.html" %}

<div class="section">
	<div class="section_title"><font>{% trans "Browse Organizations" %}</font></div>
	<div class="section_body">
	<ul class="all_org_list">
		{% for org in orgs %}
		<li>
			<table>
			  <tr><td class="org_name_list"><a href="/org/iwu/">{{ org.org_name }}</a></td>
			  	  <td class="org_desc_list">{{ org.get_org_type_display }}</td>
			  	  <td class="org_desc_list">{{ org.org_desc }}</td>
			  </tr>
			  <tr><td colspan="3">{{ org.org_city }} {{ org.org_state }}</td></tr>
			</table>
		</li>
		{% endfor %}
	</ul>
	</div>
</div>


{% endblock %}
