{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Add Organization" %}{% endblock %}
{% block header_page_specific %} 
<script type="text/javascript" src="{{ MEDIA_URL }}js/urlify.js"></script>  
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqboxy/javascripts/jquery.boxy.js"></script>    
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jqboxy/stylesheets/boxy.css" />
<script type="text/javascript">
 $(document).ready(function()
 {
    document.getElementById("id_org_short_name").onchange = function() { this._changed = true; };
    document.getElementById("id_org_name").onkeyup = function() {
        var e = document.getElementById("id_org_short_name");
        if (!e._changed) { e.value = URLify(document.getElementById("id_org_name").value, 50); }
    }
 
 	   $("input#org_add_submit").click( function() { $("form#add_org").submit( function(){ $("input#dialog").attr("value","True"); return true; }); }); 

{% if show_dialog %} 
    new Boxy('\
    <div class="popup_message">\n\
      <ul>{% for link in message.links %}<li><a href="{{ link.link }}">{{ link.name }}</a></li>{% endfor %}</ul>\n\
    </div>', 
    {modal: true,  title:"{{ message.text }}", closeable: false });
{% endif %}   
    
 });
</script>
{% endblock %}

{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; {% trans "Add Organization" %}
{% endblock %}
{% block content %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Add Organization" %}</font></div>
	<div class="section_body">
		<FORM id="add_org" action="." method="POST">
		<input type="hidden" id="dialog" name="dialog" value="False">
		<TABLE>
		 {{ form.as_table }}
		</TABLE>
		<INPUT id="org_add_submit" type="submit" name="org_add" value="{% trans "Add" %}">
		</FORM>
	</div>
</div>



{% endblock %}