{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - Members{% endblock %}
{% block header_page_specific %} 
{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> &gt; {% trans "Members" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
	<div class="section" id="members_id">
		<div class="section_title"><span class="section_title_icon">{% if current_org.org_perms.can_invite_users %}<a title="{% trans "Invite User to Org" %}" href="{% url org_org_member_invite current_org.org_short_name %}"><img class="img_join" alt="add" style="border: solid 0px;" src="{{ MEDIA_URL }}images/join.png"></a>{% endif %}</span><font>{% trans "Members" %} ({{ current_org.get_member_count }})</font></div>
		<div class="section_body">
			<div id="org_user_list_container">
				{% include  "org/inc_org_user_list.html" %}
		    </div>
		</div>
	</div>


{% endblock %}