{% extends "org/base.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Delete Organization" %}{% endblock %}
{% block breadcrumb %}
{{ block.super }}  
&gt; {% trans "Delete Organization" %}
{% endblock %}
{% block content %}
<div class="section">
	<div class="section_title"><font>{% trans "Remove Organization" %}</font></div>
	<div class="section_body">
		{% trans "Org Name" %}: {{ current_org.org_name }}
		<br><br>
		<form action="." method="post">{% csrf_token %}
		{% trans "Are you sure you want to delete?" %}
		<button class="btn btn-default" name="remove_org" type="submit">{% trans 'Delete' %}</button>
		</form>
	</div>
</div>
{% endblock %}
