{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {{ message.title }}{% endblock %}
    {% block header_page_specific %} 

    <link rel="stylesheet" href="{{ MEDIA_URL }}js/jqtokenautocomplete/token-input-facebook.css" type="text/css" />
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqtokenautocomplete/jquery.tokeninput.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){

        $("#invite_member_form").tokenInput("{% url euser_ajax_lookup_users %}", {
            classes: {
                tokenList: "token-input-list-facebook",
                token: "token-input-token-facebook",
                tokenDelete: "token-input-delete-token-facebook",
                selectedToken: "token-input-selected-token-facebook",
                highlightedToken: "token-input-highlighted-token-facebook",
                dropdown: "token-input-dropdown-facebook",
                dropdownItem: "token-input-dropdown-item-facebook",
                dropdownItem2: "token-input-dropdown-item2-facebook",
                selectedDropdownItem: "token-input-selected-dropdown-item-facebook",
                inputToken: "token-input-input-token-facebook"
            }
        });

	});
   	</script>
{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{% url org_org_view current_org.org_short_name %}">{{ current_org.org_name }}</a> &gt; {% trans "Invite Members" %}
{% endblock %}
{% block content %}
{% include "event/inc_event_menu.html" %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Invite Members" %}</font></div>
	<div class="section_body">
		<FORM action="." method="POST">
		<TABLE>
		{{ form }}
		</TABLE>
	    <INPUT type="submit" name="add_org_members" value="{% trans "Invite" %}">
		</FORM>
		<div id="info"></div>
	</div>
</div>

{% if invited_users %}
<div class="section">
	<div class="section_title"><font>{% trans "Users Invited (waiting for them to confirm)" %}</font><span class="section_header_icon"><a title="{% trans "Invite User to Org" %}" href="{% url org_org_member_invite current_org.org_short_name %}"></a></span></div>
	<div class="section_body">
		{% comment %}{% for user in invited_users %}
		 <span class="org_user_list"> &nbsp; <span style="float: right;"></span><div><a href="{% url euser_user_view user.username %}">{{ user.first_name }} {{ user.last_name }} ({{ user.username }}) </a></div></span>
		{% endfor %}{% endcomment %}
		<div id="org_user_list_container">
		{% with invited_users as members %}
			{% include  "org/inc_org_user_list.html" %}
		{% endwith %}
	    </div>
		<div style="clear: both"></div>
	</div>
</div>
{% endif %}


{% endblock %}