{% extends "base_layout_01.html" %}
{% load i18n %}{% load ellipsis %}
{% block title %} - Organization {{ current_org.org_short_name }}{% endblock %}
{% block content %}
<a href="{% url home %}">{% trans "home" %}</a> 
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="">{{ current_org.org_name }}</a> &gt; {% trans "View Organization" %}
{% include "event/inc_event_menu.html" %}

<div class="section"> 
	<div class="section_title">{% trans "Organization Information" %}</div>
	<div class="section_body">
		<TABLE>
		 <TR><TD>{% trans "Org Name" %}:</TD><TD>{{ current_org.org_name }}</TD></TR>
		 <TR><TD>{% trans "Org Type" %}:</TD><TD>{{ current_org.get_org_type_display }}</TD></TR>
		 <TR><TD>{% trans "Org Description" %}:</TD><TD>{{ current_org.org_desc }}</TD></TR>
		 {% if current_org.org_email %}<TR><TD>{% trans "Org Email" %}:</TD><TD>{{ current_org.org_email }}</TD></TR>{% endif %}
		 {% if current_org.org_website %}<TR><TD>{% trans "Org Website" %}:</TD><TD>{{ current_org.org_website }}</TD></TR>{% endif %}
		 {% if current_org.org_phone %}<TR><TD>{% trans "Org Phone" %}:</TD><TD>{{ current_org.org_phone }}</TD></TR>{% endif %}
		 {% if current_org.org_city %}<TR><TD>{% trans "Org City" %}:</TD><TD>{{ current_org.org_city }}</TD></TR>{% endif %}
		 {% if current_org.org_state %}<TR><TD>{% trans "Org State" %}:</TD><TD>{{ current_org.org_state }}</TD></TR>{% endif %}
		 {% if current_org.org_zip %}<TR><TD>{% trans "Org Zip" %}:</TD><TD>{{ current_org.org_zip }}</TD></TR>{% endif %}
		 <TR><TD>{% trans "Org Created Date" %}:</TD><TD>{{ current_org.org_date_created|date:"D m/d/Y h:i a" }}</TD></TR>
		 <TR><TD>{% trans "Org Admins" %}:</TD><TD>{% for admin in current_org.get_admin_users   %}<div><a href="{% url euser_user_view admin.username %}">{{ admin }}</a></div>{% endfor %}</TD></TR>
		 <TR><TD>{% trans "Org Event Coordinators" %}:</TD><TD>{% for coord in current_org.get_coordinator_users   %}<div><a href="{% url euser_user_view coord.username %}">{{ coord }}</a></div>{% endfor %}</TD></TR>
		 <TR><TD>{% trans "Org Feed URL" %}</TD><TD><a href="{% url core_feed_org_rss current_org.org_short_name current_org.org_feed_hash %}"><img alt="rss" style="border: solid 0px;" src="{{ MEDIA_URL }}images/rss_icon.png"></a></TD></TR>
		 <TR><TD>{% trans "Org iCal URL" %}</TD><TD><a href="{% url core_feed_org_ics current_org.org_short_name current_org.org_feed_hash %}"><img alt="ical" width="40" style="border: solid 0px;" src="{{ MEDIA_URL }}images/ical_icon.png"></a></TD></TR>
		</TABLE>
	</div>
</div>

<div class="section">
	<div class="section_title">{% trans "Organization Groups" %}<span class="section_header_icon"><a title="{% trans "Add Group" %}" href="{% url egroup_group_add current_org.org_short_name %}"><img alt="add" style="border: solid 0px;" src="{{ MEDIA_URL }}images/add.png"></a></span></div>
	<div class="section_body">
		<TABLE>
		 <TR><TH>{% trans "Group Name" %}</TH><TH>{% trans "Description" %}</TH><TH>{% trans "Can Admin" %}</TH><TH>{% trans "Can Coord" %}</TH></TR>
		{% for group in current_org.get_org_groups %}
		 <TR><TD>{{ group.group_name }}</TD><TD>{{ group.group_desc }}</TD>
		     <TD>{% if group.admin_org %}Yes{% else %}No{% endif %}</TD>
		     <TD>{% if group.coord_events %}Yes{% else %}No{% endif %}</TD>
		     <TD><a title="{% trans "Edit Group" %}" href="{% url egroup_group_edit current_org.org_short_name group.group_hash %}"><img alt="edit" style="border: solid 0px;" src="{{ MEDIA_URL }}images/edit.png"></a></TD>
		     <TD><a title="{% trans "Remove Group" %}" href="{% url egroup_group_remove current_org.org_short_name group.group_hash %}"><img alt="remove" style="border: solid 0px;" src="{{ MEDIA_URL }}images/remove.png"></a></TD></TR>
		{% endfor %}
		</TABLE>
	</div>
</div>

<div class="section">
	<div class="section_title">{% trans "Organization Event Types" %}<span class="section_header_icon"><a title="{% trans "Add Event Type" %}" href="{% url event_eventtype_add current_org.org_short_name %}"><img alt="add" style="border: solid 0px;" src="{{ MEDIA_URL }}images/add.png"></a></span></div>
	<div class="section_body">
		<TABLE>
		<TR><TH>Type</TH><TH>Description</TH><TH>Color</TH><TH>&nbsp;</TH><TH>&nbsp;</TH></TR>
		{% for org_eventtype in org_eventtypes %}
		  <TR><TD><a href="{% url event_events_list current_org.org_short_name %}?event_type={{ org_eventtype.type_name }}">{{ org_eventtype.type_name  }}</a></TD>
		      <TD>{{ org_eventtype.type_desc|ellipsis:30 }}</TD>
		      <TD style="background-color: #{{ org_eventtype.type_color }};color: #{{ org_eventtype.contrast }}">{{ org_eventtype.type_color }}</TD>
		      <TD><a title="{% trans "Edit Event Type" %}" href="{% url event_eventtype_edit current_org.org_short_name org_eventtype.type_hash %}"><img alt="edit" style="border: solid 0px;" src="{{ MEDIA_URL }}images/edit.png"></a></TD>
		      <TD><a title="{% trans "Remove Event Type" %}" href="{% url event_eventtype_remove current_org.org_short_name org_eventtype.type_hash %}"><img alt="remove" style="border: solid 0px;" src="{{ MEDIA_URL }}images/remove.png"></a></TD>
		  </TR>
		{% endfor %}
		</TABLE>
	</div>
</div>

<div class="section">
	<div class="section_title">{% trans "Members" %}<span class="section_header_icon"><a title="{% trans "Invite User to Org" %}" href="{% url org_org_member_invite current_org.org_short_name %}"><img alt="add" style="border: solid 0px;" src="{{ MEDIA_URL }}images/join.png"></a></span></div>
	<div class="section_body">
		{% for user in current_org.get_members %}
		 <span class="org_user_list"> &nbsp; <span style="float: right;"><a title="{% trans "Remove Member" %}" href="{% url org_org_member_remove current_org.org_short_name user.username %}"><img alt="remove" style="border: solid 0px;" src="{{ MEDIA_URL }}images/remove_user.png"></a></span><div><a href="{% url euser_user_view user.username %}">{{ user.first_name }} {{ user.last_name }} ({{ user.username }}) </a></div></span>
		{% endfor %}
		<div style="clear: both"></div>
	</div>
</div>


{% endblock %}
