{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Join Organization" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a> 
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt; {% trans "Join Organization" %}
{% endblock %}
{% block content %}
<div class="section">
	<div class="section_title"><font>{% trans "Join Organization" %}</font></div>
	<div class="section_body">
		<table>
		 <TR><TD>{% trans "Org Name" %}:</TD><TD>{{ current_org.org_name }}</TD></TR>
		 <TR><TD>{% trans "Org Type" %}:</TD><TD>{{ current_org.get_org_type_display }}</TD></TR>
		 <TR><TD>{% trans "Org Description" %}:</TD><TD>{{ current_org.org_desc }}</TD></TR>
		</table>
		
		<from action="." method="post">{% csrf_token %}
		<table>
		 {{ form.as_table }}
		</table>
		<button class="btn btn-default" name="org_join" type="submit">{% trans 'Join' %}</button>
		</form>
	</div>
</div>
{% endblock %}