{% extends "org/base.html" %}
{% load i18n %}
{% block title %} - {% trans "Join Organization" %}{% endblock %}
{% block breadcrumb %}
{{ block.super }} 
&gt; {% trans "Join Organization" %}
{% endblock %}
{% block content %}
<div class="section">
	<div class="section_title"><font>{% trans "Join Organization" %}</font></div>
	<div class="section_body">
		<table>
		 <tr><td>{% trans "Org Name" %}:</td><td>{{ current_org.org_name }}</td></tr>
		 <tr><td>{% trans "Org Type" %}:</td><td>{{ current_org.get_org_type_display }}</td></tr>
		 <tr><td>{% trans "Org Description" %}:</td><td>{{ current_org.org_desc }}</td></tr>
		</table>
		
		<from action="." method="post">{% csrf_token %}
		<table>
		 {{ form.as_table }}
		</table>
		<button class="btn btn-default" name="org_join" type="submit">{% trans 'Join' %}</button>
		</form>
	</div>
</div>
{% endblock %}