{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Remove Member" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a> 
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a>
&gt; {% trans "Remove Member" %}
{% endblock %}
{% block content %}
<div class="section">
	<div class="section_title"><font>{% trans "Remove Member" %}</font></div>
	<div class="section_body">
		<table>
	     <tr><td>{% trans "Member" %}:</td><td>{{ current_member.username }}</td></tr>
		 <tr><td>{% trans "Org Name" %}:</td><td>{{ current_org.org_name }}</td></tr>
		</table>
		<form action="." method="post">{% csrf_token %}
		<button class="btn btn-default" name="org_member_remove" type="submit">{% trans 'Remove' %}</button>
		</form>
	</div>
</div>
{% endblock %}