{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Edit Organization" %}{% endblock %}

{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a> 
&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> &gt; {% trans "Edit Organization" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
<div class="section"> 
	<div class="section_title"><font>{% trans "Edit Organization" %}</font></div>
	<div class="section_body">
		<strong>{% trans "RSS URL" %}</strong>: <a href="{% url 'core_feed_org_rss' current_org.org_short_name current_org.org_feed_hash %}">{% trans "RSS" %}</a>
		<form id="edit_org" action="." method="post">{% csrf_token %}
		<input type="hidden" id="dialog" name="dialog" value="False">
		<table>
		 {{ form.as_table }}
		</table>
		<button id="org_edit_submit" class="btn btn-default" type="submit" name="org_edit">{% trans "Save" %}</button>
		</form>
	</div>
</div>
{% endblock %}

{% block extra_foot %}{{ block.super }}  
	<script type="text/javascript">
		$(document).ready(function(){
	   $("#org_edit_submit").click( function() { $("form#edit_org").submit( function(){ $("input#dialog").attr("value","True"); return true; }); }); 

{% if show_dialog %} 
	    new Boxy('\
	    <div class="popup_message">\n\
	      <ul>{% for link in message.links %}<li><a href="{{ link.link }}">{{ link.name }}</a></li>{% endfor %}</ul>\n\
	    </div>', 
	    {modal: true,  title:"{{ message.text }}", closeable: false });
{% endif %}

		});
	</script>
{% endblock %}