{% extends "avatar/org_photo_base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %} - Edit Organization Photo {{ current_org.org_short_name }}{% endblock %}
{% block extra_head %}{{ block.super }}
<style rel="stylesheet" type="text/css">
ul.photo_list  { padding: 0px; margin: 0px; } 
ul.photo_list li ul li { background-color: white; border: solid 1px #1a88c9; display: block; float:left; margin: 5px; padding: 5px; }
ul.photo_list li { list-style-type:none;  } 
ul.photo_list ul {list-style-type: none; margin: 0px; padding: 0px; } 
.photo_add_box { margin: 15px; }
ul.photo_add  { padding: 0px; margin: 0px; } 
ul.photo_add li { list-style-type: none; } 
ul.photo_add li input { display: block; margin: 5px; } 
.photo_choose_box { margin: 15px; }
.photo_box { margin: 15px; }
.photo_box img { border: solid 1px #1a88c9; } 
.photo_remove_box { margin: 15px; }
</style>
{% endblock %}
{% block breadcrumb %}
	<a href="{% url 'home' %}">{% trans "home" %}</a> 
	&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
	&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> &gt; {% trans "Edit Organization Photo" %}
{% endblock %}
{% block org_photo_content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "Photo Add/Edit" %}</font></div>
	<div class="section_body">
		<div class="photo_box">
	    <p>{% trans "Your current organization photo:" %} </p>
	    {% for avatar in current_org.get_primary_avatar %}
	    {% thumbnail avatar.avatar "300x300" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        {% endfor %}
	    </div>
		<div class="photo_choose_box">
	    {% if not avatars %}
	        <p>{% trans "You do not yet have an organization photo. You may upload one now." %}</p>
	    {% else %}
	        <form method="post" action=".">{% csrf_token %}
	            <ul class="photo_list">
	                {{ primary_avatar_form.as_ul }}
	            </ul>
	            <div style="clear: both;"></div>
	            <input type="submit" value="{% trans 'Choose Default' %}" />
	        </form>
	    {% endif %}
	    </div>
	    <div class="photo_add_box">
		    <form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
		        <!-- <input type="file" name="avatar" value="Avatar Image" /> -->
		        <ul class="photo_add">
		        {{ upload_avatar_form.as_ul }}
		        </ul>
		        <div style="clear: both;"></div>
		        <input type="submit" value="{% trans "Upload" %}" />
		    </form>
	    </div>
    	<div style="clear: both;"></div>
	    <div class="photo_remove_box">
			<a href="{% url 'org_org_delete_photo' current_org.org_short_name %}">Delete Photos</a>
	    </div>
	</div> 
</div>
    
    
{% endblock %}