{% extends "avatar/org_photo_base.html" %}
{% load i18n %}
{% block title %} - Delete Organization Photo {{ current_org.org_short_name }}{% endblock %}
{% block extra_head %}{{ block.super }}
<style rel="stylesheet" type="text/css">
ul.photo_list  { padding: 0px; margin: 0px; } 
ul.photo_list li ul li { background-color: white; border: solid 1px #1a88c9; display: block; float:left; margin: 5px; padding: 5px; }
ul.photo_list li { list-style-type:none;  } 
ul.photo_list ul {list-style-type: none; margin: 0px; padding: 0px; } 
</style>
{% endblock %}
{% block breadcrumb %}
	<a href="{% url 'home' %}">{% trans "home" %}</a> 
	&gt; <a href="{% url 'org_orgs_list' %}">{% trans "Organizations" %}</a>
	&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> &gt; {% trans "Delete Organization Photo" %}
{% endblock %}
{% block org_photo_content %}
 <div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans 'Photo Delete' %}</font></div>
	<div class="section_body">

	<div class="photo_choose_box">
    <p>{% trans "Please select the organization photos that you would like to delete." %}</p>
    {% if not avatars %}
        <p>{% trans "You have no photos to delete.  Please" %} <a href="{% url 'org_org_edit_photo' current_org.org_short_name %}">{% trans "upload one" %}</a> {% trans "now." %}</p>
    {% else %}
        <form method="post" action="">{% csrf_token %}
            <ul class="photo_list">
                {{ delete_avatar_form.as_ul }}
            </ul>
            <div style="clear: both;"></div>
            <input type="submit" value="{% trans 'Delete These' %}" />
        </form>
    {% endif %}
    </div>
    
	</div> 
</div>    
{% endblock %}