{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "View Group" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a>
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; <a href="{{ current_usergroup.get_absolute_url }}">{{ current_usergroup.group_name }}</a>
&gt; {% trans "View Group" %}
{% endblock %}
{% block content %}
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "View Group" %}</font>{% if current_org.org_perms.can_edit_group %}<a title="{% trans "Edit Group" %}" href="{% url egroup_group_edit current_org.org_short_name current_usergroup.group_hash %}"><img class="img_edit" alt="edit" style="border: solid 0px;" src="{{ MEDIA_URL }}images/edit.png"></a>{% endif %}</div>
	<div class="section_body">
		<TABLE>
		<TR><TD>{% trans "Organization" %}: </TD><TD>{{ current_org.org_name }}</TD></TR>
		<TR><TD>{% trans "Group" %}: </TD><TD>{{ current_usergroup.group_name }}</TD></TR>
		<TR><TD>{% trans "Description" %}: </TD><TD>{{ current_usergroup.group_desc }}</TD></TR>
		<TR><TD><img src="{{ MEDIA_URL }}images/icon_adm.png" alt="{% trans "Administer Organization" %}"> {% trans "Admin Organization" %}: </TD><TD>{% if current_usergroup.admin_org %}Yes{% else %}No{% endif %}</TD></TR>
		<TR><TD><img src="{{ MEDIA_URL }}images/icon_crd.png" alt="{% trans "Coordinate Events" %}"> {% trans "Coordinate Events" %}: </TD><TD>{% if current_usergroup.coord_events %}Yes{% else %}No{% endif %}</TD></TR>
		<TR><TD><img src="{{ MEDIA_URL }}images/icon_inv.png" alt="{% trans "Invite Users" %}"> {% trans "Invite Users" %}: </TD><TD>{% if current_usergroup.invite_users %}Yes{% else %}No{% endif %}</TD></TR>
	    </TABLE>
	    
    	<div>
		{% for user in current_usergroup.group_users.all  %}
		 <span class="org_user_list"> &nbsp; <span style="float: right;">&nbsp;</span><span><a href="{{ user.get_absolute_url }}">{{ user.first_name }} {{ user.last_name }} ({{ user.username }}) </a></span></span>
		{% endfor %}
		<div style="clear: both"></div>
		</div>
	    
	</div>
</div>
{% endblock %}
