{% extends "org/base.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "View Group" %}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
&gt; <a href="{{ current_usergroup.get_absolute_url }}">{{ current_usergroup.group_name }}</a>
&gt; {% trans "View Group" %}
{% endblock %}
{% block content %}
<div class="page_heading"> {{ current_org.org_name }} </div>
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class="section_title"><span class="section_title_icon">{% if current_org.org_perms.can_edit_group %}<a title="{% trans "Edit Group" %}" href="{% url 'egroup_group_edit' current_org.org_short_name current_usergroup.group_hash %}"><img class="img_edit" alt="edit" style="border: solid 0px;" src="{{ STATIC_URL }}images/edit.png"></a>{% endif %}</span><font>{% trans "View Group" %}</font></div>
	<div class="section_body">
		<table>
		<tr><td>{% trans "Organization" %}: </td><td>{{ current_org.org_name }}</td></tr>
		<tr><td>{% trans "Group" %}: </td><td>{{ current_usergroup.group_name }}</td></tr>
		<tr><td>{% trans "Description" %}: </td><td>{{ current_usergroup.group_desc }}</td></tr>
		<tr><td><img src="{{ STATIC_URL }}images/icon_adm.png" alt="{% trans "Administer Organization" %}"> {% trans "Admin Organization" %}: </td><td>{% if current_usergroup.admin_org %}Yes{% else %}No{% endif %}</td></tr>
		<tr><td><img src="{{ STATIC_URL }}images/icon_crd.png" alt="{% trans "Coordinate Events" %}"> {% trans "Coordinate Events" %}: </td><td>{% if current_usergroup.coord_events %}Yes{% else %}No{% endif %}</td></tr>
		<tr><td><img src="{{ STATIC_URL }}images/icon_inv.png" alt="{% trans "Invite Users" %}"> {% trans "Invite Users" %}: </td><td>{% if current_usergroup.invite_users %}Yes{% else %}No{% endif %}</td></tr>
	    </table>
	    
    	<div id="org_user_list_container">
    	{% with groupusers as members %}
			{% include  "egroup/inc_group_user_list.html" %}
		{% endwith %}
			
    	</div>
	</div>
</div>
{% endblock %}
