{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {% trans "Organization" %} {{ current_org.org_short_name }} - {% trans "Edit Group" %}{% endblock %}
{% block breadcrumb %}
<a href="{% url home %}">{% trans "home" %}</a>
&gt; <a href="{% url org_orgs_list %}">{% trans "Organizations" %}</a>
&gt; <a href="{{ current_org.get_absolute_url }}">{{ current_org.org_name }}</a> 
&gt; <a href="{{ current_usergroup.get_absolute_url }}">{{ current_usergroup.group_name }}</a>
&gt; {% trans "Edit Group" %}
{% endblock %}
{% block content %}
{% include "event/inc_event_menu.html" %}
<div class="section">
	<div class="section_title"><font>{% trans "Edit Group" %}</font></div>
	<div class="section_body">
		{% trans "Edit Group for" %}: {{ current_org.org_name }}
		<FORM action="." method=POST>
		<TABLE>
		 {{ form.as_table }}
		</TABLE>
		<INPUT type="submit" name=save_group value="{% trans "Save" %}">
		</FORM>
	</div>
</div>
{% endblock %}
