div.event_list_entry
{
  border-top: solid #1a88c9 1px;
  padding: 6px;
}

div.event_list_entry div
{
  padding-top: 3px;
  padding-bottom: 3px;
}

div.event_list_entry div div
{
  display: inline;
}

div.event_list_entry div div span.event_name
{
  width: 200px;
}
