body { 
	background-color: #fbb100; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 100%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
	padding: 0px;
	margin: 0px;
    text-align: center; 
}

.background
{
  margin: 0px;
  padding: 10px;
  background: url('../images/background-grad.png') 0% 0% repeat-x;
  height: 400px; 
}

a
{color: #336644;}

.body_wrap
{
  width: 800px;
  text-align: left; 
  margin: auto; 
}

.header_banner
{
	background-color: #69e067;
	height: 50px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;  
  -webkit-border-top-right-radius: 10px;
  border-radius: 5px;
  border: 0px solid black;
}

.header_banner .login_container
{
  float: right;
  margin: 10px;
  display: inline;
  width: 400px;
  text-align: right; 
}

.logo a img
{
outline: 0;
border: 0px; 
} 

.breadcrumb
{
  padding: 8px;
  background-color: #FFFACF;
  border-bottom: solid 1px #FFA100;
}


.main_container
{
	background-color:white;
	padding: 0px;
}

.main_container_wrap
{padding: 20px;}

.footer
{
  background-color: #69e067; 
  height: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: black; 
  padding: 3px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;  
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 5px;
}

.footer font
{font-size: 9px;}

.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
    padding-bottom: 10px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	}
.menu ul{
	background:#986100;
	height:25px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.menu li{
		float:left;
		padding:0px;
		}
	.menu li a{
		background:#986100 url("../images/menu/seperator.gif") bottom right no-repeat;
		color:#ffffff;
		display:block;
		font-weight:normal;
		line-height:25px;
		margin:0px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.menu li a:hover, .menu ul li:hover a{
			background: #ff9f00 url("../images/menu/hover.png") bottom center no-repeat;
			color:#FFFFFF;
			text-decoration:none;
			}
	.menu li ul{
		background:#986100;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:150px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.menu li:hover ul{
		display:block;
		}
	.menu li li {
		background:url('../images/menu/sub_sep.gif') bottom left no-repeat;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:150px;
		}
	.menu li:hover li a{
		background:none;
		
		}
	.menu li ul a{
		display:block;
		height:25px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.menu li ul a:hover, .menu li ul li:hover a{
			background:#ff9f00 url('../images/menu/hover_sub.png') center left no-repeat;
			border:0px;
			color:#ffffff;
			text-decoration:none;
			}
	.menu p{
		clear:left;
		}	


.section_sidebyside
{margin-bottom: 10px;}

.section_left
{
  float: left; 
  padding-right: 10px;
  width: 350px;
}

#section_group_id
{clear: both;}

.section_right
{float: left;}

#event_types_id
{width: 398px;}

.section
{
  border: 1px solid #69e067;
  margin-bottom: 20px;
  background-color: #eaf8e4;
}

.section_title
{
  margin-bottom: 10px;
  height: 18px;
  padding: 5px;
  background-color: #69e067;
}

.section_title font
{
  font-weight: bold;
  font-size: 14px;
  margin: 0px;
  vertical-align: top;
}

.section_body
{
  margin: 5px;
}

.org_list_entry
{padding: 2px;}

.org_list_entry  div
{
  display: inline;
  width: 450px;
  border: solid black 1px;
}

span.section_header_icon
{margin-left: 10px;}

#forgot_password
{font-size: 10px;}

span.org_user_list
{
  width: 166px;
  height: 20px;
  float: left;
  border: solid #ffa100 1px;
  padding: 5px;
  margin: 4px;
  background-color: #f2e5b7;
}


.report
{border:1px solid #69E067;}
.report .report_item_head
{
  background-color: #69E067;
  color: black;
  padding: 3px;
}

.report .report_item_subhead
{
  background-color: #CCFFCC;
   color: #336644; 
}

.report .report_item_body
{color: #336644;}

.report_filter
{
  margin: 5px;
  display:none;
}

#filter_toggle
{
 margin: 5px;
}

.logo_text
{
 position: absolute; 
  z-index: 10; 
  left: 1000; 
  display: none;
}

.page_nav
{margin:4px;}

/*** Org List Sytles ***/

ul.all_org_list
{
	list-style-type: none;
	padding: 0px;
    margin: 0px;
}

ul.all_org_list  li
{border-top: solid #69e067 1px;
  padding: 2px;
}


ul.my_org_list  li table tr td
{
  border-top: none;
}

ul.my_org_list
{
	list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

ul.my_org_list  li
{
  border-top: solid #69e067 1px;
  padding: 2px;
}

.org_name_list
{width: 200px; height: 20px}

.org_privacy_list
{width: 80px;}

.org_desc_list
{width: 30em;}

.org_group_list
{
	list-style-type: none;
	padding: 0px;
    margin: 0px;
}

.org_group_list li
{
  border-top: solid #69e067 1px;
  padding: 2px;
}

.org_group_list li table .group_name
{width: 150px; height: 20px; vertical-align: top;}

.org_group_list li table .group_desc
{width:30em; vertical-align: top;}

.org_group_list li table .group_flags
{width: 4em; vertical-align: top;}

ul.attendee_list
{
	list-style-type: none;
	padding: 0px;
    margin: 0px;
}

table .eventtype_name
{
  width: 100px;
  height: 20px;
  padding: 4px;
  vertical-align:top;
}

table .eventtype_desc
{
 width: 180px;
 padding: 4px;
 vertical-align:top;
}

ul.attendee_list li
{border-top: solid #69e067 1px; }

ul.attendee_list li .att_name
{width: 100px;}

ul.attendee_list li .att_date
{width: 130px;}

ul.attendee_list li .att_hours
{width: 50px;}

ul.attendee_list li .att_col
{width: 100px;}

.error_string
{color: red;}

.success_string
{color: green;}

ul li a.disabled_string 
{color: gray; }

.popup_message
{
 text-align: left; 
 width: 300px;
}

.popup_message ul li
{padding: 3px;}
