{% extends "base_layout_01.html" %}
{% load i18n %}
{% block content %}
&nbsp;
<div class="page_heading"> Signup </div>
<div>
<ul class="nav">
 <li><strong><a href="{% url account_signup %}">{% trans "Signup" %}</a></strong></li>
 <li><strong><a href="{% url account_auth_login %}">{% trans "Login" %}</a></strong></li>
 <li><strong><a href="">{% trans "Browse" %}</a></strong></li>
</ul>
</div>

<div class="section">
	<div class="section_title"><font>{% trans "Signup" %}</font></div>
	<div class="section_body">
	Success
	{{ message.text }}
		<ul>
		{% for link in message.links %}
		 <li><a href="{{ link.link }}">{{ link.name }}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}