{% extends "base_layout_01.html" %}
{% load i18n %}{% load static %}
{% block title %} - {% trans "User Settings" %}{% endblock %}
{% block extra_head %}{{ block.super }}   
    <link rel="stylesheet" type="text/css" href="{% static 'js/jqboxy/stylesheets/boxy.css' %}" />
{% endblock %}
{% block breadcrumb %}
<a href="{% url 'home' %}">{% trans "home" %}</a>  &gt; {% trans "user" %} &gt; <a href="{{ request.user.get_absolute_url }}">{{ current_user.username }}</a>
{% endblock %}
{% block content %}
<div class="section">
    <div class="page_heading">Profile for {{ current_user.username }}</font></div>
</div>
<div class="section">
	<div class="section_title"><font>{% trans "Edit User Settings" %}</font></div>
	<div class="section_body">
	<form id="edit_user" action="." method="post">{% csrf_token %}
	<input type="hidden" id="dialog" name="dialog" value="False">
	<table>
	<tr><td>{{ request.user }}</td><td>&nbsp;</td></tr>
	{{ form }}
	<tr><td><input id="user_edit_submit" type="submit" name="save_settings" value="{% trans "Save" %}"></td><td>&nbsp;<font class="success_string">{{ quick_message }}</font></td></tr>
	</form>
	</table>
	</div>
 </div>


{% endblock %}


{% block extra_foot %}{{ block.super }}
    <script type="text/javascript" src="{% static 'js/jqboxy/javascripts/jquery.boxy.js"></script>    
	<script type="text/javascript">
		$(document).ready(function(){
	   $("input#user_edit_submit").click( function() { $("form#edit_user").submit( function(){ $("input#dialog").attr("value","True"); return true; }); }); 

{% if show_dialog %} 
	    new Boxy('\
	    <div class="popup_message">\n\
	      <ul>{% for link in message.links %}<li><a href="{{ link.link }}">{{ link.name }}</a></li>{% endfor %}</ul>\n\
	    </div>', 
	    {modal: true,  title:"{{ message.text }}", closeable: false });
{% endif %}

		});
	</script>

{% endblock %}