{% extends "base_layout_01.html" %}
{% load i18n %}
{% block title %} - {{ message.title }}{% endblock %}
{% block content %}
&nbsp;
<div>
<ul class="nav">
 <li><strong><a href="{% url account_signup %}">{% trans "Signup" %}</a></strong></li>
 <li><strong><a href="{% url account_auth_login %}">{% trans "Login" %}</a></strong></li>
 <li><strong><a href="">{% trans "Browse" %}</a></strong></li>
</ul>
</div>

<div class="section">
	<div class="section_title">{% trans "Reset Password" %}</div>
	<div class="section_body">
		<FORM action="." method="POST">
		<TABLE>
		{{ form }}
		<tr><th>&nbsp;</th><td><img src="{% url account_signup_captcha %}" alt="Captcha" id="id_captcha_img" /></td></tr>
		</TABLE>
		<input type="submit" name="reset_password" value="{% trans "Send" %}">
		</FORM>
	</div>
</div>
{% endblock %}