{% extends "base_layout_01.html" %}
{% load i18n %}
{% block content %}
&nbsp;
<div class="page_heading"> Signup </div>
{% include "core/inc_anonymous_menu.html" %}

<div class="section">
	<div class="section_title"><font>{% trans "Signup" %}</font></div>
	<div class="section_body">
		<form method="post" action=".">
		<table>
		{{ form }}
		<tr><th>&nbsp;</th><td><img src="{% url account_signup_captcha %}" alt="Captcha" id="id_captcha_img" /></td></tr>
		</table>
		<input type="submit" value="{% trans "signup" %}" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>

{% endblock %}