{% extends "base_layout_01.html" %}
{% load i18n %}
{% block content %}
&nbsp;
<div>
<ul class="nav">
 <li><strong><a href="{% url account_signup %}">{% trans "Signup" %}</a></strong></li>
 <li><strong><a href="{% url account_auth_login %}">{% trans "Login" %}</a></strong></li>
 <li><strong><a href="">{% trans "Browse" %}</a></strong></li>
</ul>
</div>

<div class="section">
	<div class="section_title"><font>{% trans "Signup Confirmation" %}</font></div>
	<div class="section_body">
		{% if message %}<p class="error_string">{{ message }}</p>{% endif %}
		<div><p>
		{% trans "Please check your email to confirm your membership to this site." %}
		{% trans "You will receive a confirmation email from us shortly." %}
		{% trans "Click the confirmation link provided in that email or enter into the box below the confirmation number given in the email." %}</p></div>
		<FORM action="." method="POST">
		{{ form }}
		<input type="submit" name="submit_security_hash" value="{% trans "Confirm" %}">
		</FORM>
	</div>
</div>

{% endblock %}