{% extends "base_layout_01.html" %}
{% load i18n %}
{% block content %}

<!-- Start Login -->
{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}
<div class="section">
	<div class="section_title">{% trans "Signup" %}</div>
	<div class="section_body">
		<form method="post" action=".">
		<table>
		{{ form }}
		</table>
		<input type="submit" value="{% trans "signup" %}" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
<!-- Start Login -->
{% endblock %}