{% extends "base_layout_01.html" %}
{% load i18n %}
{% block content %}
&nbsp;
<div>
<ul class="nav">
 <li><strong><a href="{% url account_signup %}">{% trans "Signup" %}</a></strong></li>
 <li><strong><a href="{% url account_auth_login %}">{% trans "Login" %}</a></strong></li>
 <li><strong><a href="">{% trans "Browse" %}</a></strong></li>
</ul>
</div>

<div class="section">
	<div class="section_title">{% trans "Signup" %}</div>
	<div class="section_body">
		<form method="post" action=".">
		<table>
		{{ form }}
		<tr><th>&nbsp;</th><td><img src="{% url account_signup_captcha %}" alt="Captcha" id="id_captcha_img" /></td></tr>
		</table>
		<input type="submit" value="{% trans "signup" %}" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>

{% endblock %}